.container {
    padding: 0 2rem;
}

.slogan {
    margin-top: 150px;
    color: white;
    user-select: none;
    font-weight: bolder;
}

.errorDiv{
    width: 50%;
    border-radius: 15px;
    height: 150px;

}

.first_stage_site_wrapper {
    background-image: url('../public/theme.jpg.jpg');
    background-repeat: no-repeat;
    background-size: 1500px, 1500px;
    height: 700px;
}

.search {
    width: 45%;
    margin-top: 20px;

}

.slogan_text {
    font-family: cursive;
    font-size: 500%;
}

.add_restaurant_trim_width {
    width: 50%;
    float: left;
}

.second_block {
    background-image: url("../public/the_wall.jpg");
    background-repeat: no-repeat;
    background-size: 1500px, 1500px;
    height: 500px;
}

.add_restaurant{
    width: 95%;
    height: 450px;
    background-color: white;
    border-radius: 15px;
}

.form_frame{
    width: 60%;
    height: 2000px;
}

@media screen and (max-width: 720px) {
    .add_restaurant_trim_width{
        width: 100%;
    }
    .form_frame{
        width: 100%;
        height: 2500px;
    }
    .slogan_text {
        font-size: 200%;
    }

    .search {
        width: 100%;
    }
}